{{#if warning}}
{{>message message=noResults type="warning"}}
{{/if}}

{{#if error}}
{{>message message=error type="danger"}}
{{/if}}

{{#if success}}
{{>message message=success type="success"}}
{{/if}}
<style>
    .mb-3 {
        width: 50%;
        margin: auto;
    }

    .label {
        margin-bottom: 20px;
    }

    form {
        margin-top: 5%;
    }

</style>

<body>
    <h2 style="text-align:center; margin-top:5%">Cambia tus datos personales</h2>
    <form>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" value="{{firstName}}" class="form-control" id="exampleFormControlInput1" name="nombre">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Apellido</label>
            <input type="text" value="{{apellido}}"  class="form-control" id="exampleFormControlInput1" name="apellido">
        </div>
       <br>
            <div class="mb-3">
                <select class="selectpicker" data-style="btn-info" name="selectpicker" required>
                    <option name="" value="4" selected="true" disabled>Seleccione una región</option>
                    {{#each region}}
                    <option value="{{this.nombre}}">{{this.nombre}}</option>
                    {{/each}}
                    </optgroup>
                </select>
            </div>
        <br />
        <button style="margin-left:25%" class="btn btn-primary" type="submit">Continuar</button>
    </form>
</body>
